<div class= "card"><img src="<%= recipe.image %>" style="width:100%">
<div class="container">
<h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
Prep time: <%= recipe.prep_time %> Cook time: <%=recipe.cook_time %>
</div>
</div>
