<%= form_tag recipes_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>


<%= render partial: 'recipe_summary', collection: @recipes, as: :recipe %>
