<img src="<%= @user.image %>"><br>
<h3>Welcome, <%= @user.first_name %>! </h3>
<div class="recipe_headline">
  <h2> Recommended Recipes </h2>
<%if @recommended_recipes != nil %>
<%= render partial: "recipes/recipe_summary", collection: @recommended_recipes, as: :recipe %>
<% else %>
<h4 align="center"> You'll need to save or create more recipes! </h4>
<% end %>
</div>
<div class="recipe_headline">
<h2> New Recipes </h2>
<%= render partial: "recipes/recipe_summary", collection: @new_recipes, as: :recipe %>
</div>
